<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <br>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="app-title">Story Maps</h1>
            </div>
        </div>
        <div style="width:80%;margin:auto;">
          <div class="button-bar">
              <button ui-sref="app.stories" class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
          </div>
          <br>
          <div class="button-bar ">
              <button ng-click="facebookSignIn()" class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
          </div>
        </div>
    </ion-content>
</ion-view>
